<div>
    <div class="text-center">
        <h3>CORONAVIRUS UPDATE</h3>

        <h4>
            GOMEZ &amp; TOUGER, P.A. OPEN FOR BUSINESS<br/>
            (813) 876-6622 TAMPA<br/>
            (863) 533-9559 LAKELAND<br/>
        </h4>

        <p>Gomez &amp; Touger, P.A. extends our thoughts and prayers to all families suffering through these
            turbulent times. We also understand that legal difficulties do not, and will not, come to an end
            because of the coronavirus. <strong>We are continuing to accept new clients and working tirelessly
                for our current clients.</strong></p>

        <p>As a testament to our preparedness during these difficult times, our clients have successfully
            received their settlement checks, been released from unjust incarceration, and had illegally
            obtained or fabricated evidence dismissed from their cases. We will not let the coronavirus
            come between our clients and seeing justice done on their cases.</p>

        <p>In order to continue our tradition of aggressive and innovative representation, we use all major
            tele-meeting applications via the Internet for any potential or current clients who are
            uncomfortable with in-person consultation (while maintaining a six (6) foot distance).
            Additionally, we are equipped to have clients remotely sign documents electronically. All a client
            would need is an email address accessible on their cell phone or home computer.</p>

        <p>Gomez &amp; Touger, P.A. is fighting hard for you and your families. Now and always.</p>

        <p>In order to protect our clients’ and staff’s safety, we are following all instructions and directives issued by local, state,
            and federal officials. These include, but are not limited to, remote working, six (6) feet of distancing, and rigorous
            cleaning and hand-washing.</p>
    </div>
</div>