<div>
    <div class="text-center">
        <h3 class="red">ACTUALIZACIÓN DEL CORONAVIRUS</h3>

        <h4>
            <span class="red">GOMEZ &amp; TOUGER, P.A. OPEN FOR BUSINESS</span><br/>
            (813) 876-6622 TAMPA<br/>
            (863) 533-9559 LAKELAND
        </h4>
    </div>

    <p>Gómez y Touger, P.A. Extiende nuestros pensamientos y oraciones a
        todas las familias que sufren en estos tiempos turbulentos. También
        entendemos que las dificultades legales no terminan, y no lo harán, debido al
        coronavirus. <strong>Continuamos aceptando nuevos clientes y trabajando
            incansablemente para nuestros clientes actuales.</strong></p>

    <p>Como testimonio de nuestra preparación durante estos dificultos
        tiempos, exsitosamente sus pagos de checke nuestros clientes han recibido
        con éxito sus cheques de liquidación, han sido liberados de un
        encarcelamiento injusto y han obtenido o fabricado ilegalmente evidencia
        desestimada de sus casos. No dejaremos que el coronavirus se interponga
        entre nuestros clientes y veamos que se haga justicia en sus casos.</p>

    <p>Para continuar nuestra tradición de representación agresiva e
        innovadora, utilizamos todas las aplicaciones principales de teleconferencias a
        través de las redes sociales para cualquier cliente potencial o actual que no se
        sienta cómodo con la consulta en persona (mientras mantiene una distancia de
        seis (6) pies). Además, estamos equipados para que los clientes firmen
        documentos de forma remota electrónicamente. Todo lo que un cliente
        necesitaría es una dirección de correo electrónico accesible en su teléfono
        celular o computadora de casa.</p>

    <p>Gómez y Touger, P.A. está luchando duro para ustedes y sus familias.
        Ahora y siempre.</p>

    <p>Para proteger la seguridad de nuestros clientes y personal, estamos
        siguiendo todas las instrucciones y directivas emitidas por funcionarios locales,
        estatales y federales. Estos incluyen, pero no se limitan a, trabajo remoto, seis
        (6) pies de distanciamiento, limpieza rigurosa y lavado de manos.</p>
</div>