<footer>
    <!--
    border: #735d23
    shadow:
    -->

    <div class="container-fluid">
        <div class="row contact">
            <div class="col-xs-12 col-md-6">
                <figure>
                    <img class="img-responsive" src="/assets/images/attorney.gif">
                    <figcaption>{% t footer.not_pictured_caption %}</figcaption>
                </figure>
            </div>
            <div class="col-xs-12 col-md-6">
                <h4>{% t footer.office_locations %}</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <strong>{{site.data.business.name}}</strong><br>
                        {% assign location = site.data.business.locations.tampa %}
                        {{location.address_line_1}}<br>
                        {{location.city}}, {{location.state}} {{location.zip}}<br>
                        Tel: {{location.phone}}<br>
                        Fax: {{location.fax}}<br>
                        <a href="/Tampa-Criminal-Law-Office.shtml.html">{% t footer.tampa_office %}</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="vertical-spacer visible-xs"></div>
                        <strong>{{site.data.business.name}}</strong><br>
                        {% assign location = site.data.business.locations.bartow %}
                        {{location.address_line_1}}<br>
                        {{location.city}}, {{location.state}} {{location.zip}}<br>
                        Tel: {{location.phone}}<br>
                        Fax: {{location.fax}}<br>
                        <a href="/Bartow-Criminal-Law-Office.shtml.html">{% t footer.bartow_office %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <p>{% t footer.info %}</p>
        <p>
            &copy; {{site.time | date: '%Y'}}
            {% t footer.by %}
            <a href="http://pview.findlaw.com/cmd/view?wld_id=3413463&pid=1" target="_blank">{{site.data.business.name}}</a>
            {% t footer.all_rights_reserved %}.
            <a href="/Privacy-Policy.shtml.html">{% t footer.privacy_policy %}</a>
        </p>
    </div>

</footer>