<div class="banner">
    <img class="img-responsive" src="/assets/images/logo.gif">
    <img class="img-responsive hidden-xs hidden-sm" src="/assets/images/bg_banner_home.jpg">
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                MENU
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">FIRM OVERVIEW</a></li>
                <li><a href="#">ATTORNEYS</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="below-navbar">
    <h4 class="tagline">
        Contact Us For A Free Consultation Today<br>
        24 Hour Service • Los Abogados Hablan Español
    </h4>
</div>