<div class="banner">
    <a href="{% tl home %}"><img class="img-responsive" src="/assets/images/logo.gif"></a>
    <img id="banner-image" class="img-responsive hidden-xs hidden-sm" src="/assets/images/bg_banner_home.jpg">
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                MENU
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% tl home %}">{% t navigation.home %}</a></li>
                <li><a href="{% tl personal_injury.firm_overview %}">{% t navigation.firm_overview %}</a></li>
                <li><a href="{% tl personal_injury.attorneys %}">{% t navigation.attorneys %}</a></li>
                <li><a href="{% tl personal_injury.contact_us %}">{% t navigation.contact_us %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid below-navbar">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-8 col-lg-offset-4">
            <h4 class="tagline text-center">
                {% t tagline.line_1 %}<br>
                {% t tagline.line_2 %}
            </h4>
        </div>
    </div>
</div>