/* FS PUBLISHER - BASE STYLESHEET - UPDATED 04.23.12 */

html { font-size: 62.5%; }
#ie html { font-size: 1em; }
body { margin: 0; padding: 0; background: #FFFFFF; color: #000000; }
body, input, textarea, option, select { font-family: Arial, Helvetica, sans-serif; }
table, input, textarea, option, select { font-size: 1em; }
ul, ol { margin: 0; padding: 0 0 0 2.75em; }
h1, h2, h3, h4, h5, h6, p, ul, ol { padding-top: 0; padding-bottom: 1.2em; margin: 0; }
ul ul, ul ol, ol ol, ol ul { padding-bottom: 0; }
a img, abbr { border: 0; }

/* DEFINE BASE FONT SIZE -- 1.1em = 11px, etc. */
body { font-size: 1.1em; }

/* DEFINE CONTENT LINE HEIGHT */
#content p, #content ul, #content ol, #content li, #content blockquote, #tinymce p, #tinymce ul, #tinymce ol, #tinymce li, #tinymce blockquote { line-height: 1.77em; }

/* DEFINE CONTENT COLOR */
#content, #content td, #tinymce, #tinymce td, #content legend { color: #000000; }
#content #intakeFormI fieldset, #content .intakeFormIII fieldset, #content .pagination, #content .comment, #content .post { border-color: #000000; }

/* DEFINE LINK COLOR */
a:link { color: #005e91; }
a:visited { color: #4d4d4d; }
a:hover, a:focus { color: #c3ae76; }
a:active { color: #735d23; text-decoration: none; }

/* HEADERS */
h1 { font-size: 1.4em; }
h2, #content legend, #tinymce legend { font-size: 1.2em; }
h3 { font-size: 1.1em; padding-bottom: .3em; }
h4 { font-size: 1em; padding-bottom: .3em; }
h5 { font-size: .9em; padding-bottom: .3em; }
h6 { font-size: .8em; padding-bottom: .3em; }

/* TINYMCE BACKGROUND */
.mceContentBody { background: #F7F7F7; }

/* --------------gridLESS-------------- */
/* https://github.com/aw2basc/gridLESS */
/* --------------static-page-width-------------- */
/* use to set the max width of the page for static columns */
.col-container { min-width:978px; margin:0px auto; padding:0 12px; }
/* --------------static-full-width-------------- */
/* use to set the full number of columns (instead of col-12)*/
.col-full { width:978px; margin:0px auto; padding:0; clear:left; zoom:1; }
.col-full:before, .col-full:after { content:""; display:table; }
.col-full:after { clear:both; }
/* --------------first-column-------------- */
/* add this class to the first column */
.col-first { margin-left:0!important; clear:left; }
/* --------------columns-------------- */
/* default columns col-1 through col-12 */
.col-1{width:54px;margin-left:30px;float:left;display:inline;min-height:1px}.col-2{width:138px;margin-left:30px;float:left;display:inline;min-height:1px}.col-3{width:222px;margin-left:30px;float:left;display:inline;min-height:1px}.col-4{width:306px;margin-left:30px;float:left;display:inline;min-height:1px}.col-5{width:390px;margin-left:30px;float:left;display:inline;min-height:1px}.col-6{width:474px;margin-left:30px;float:left;display:inline;min-height:1px}.col-7{width:558px;margin-left:30px;float:left;display:inline;min-height:1px}.col-8{width:642px;margin-left:30px;float:left;display:inline;min-height:1px}.col-9{width:726px;margin-left:30px;float:left;display:inline;min-height:1px}.col-10{width:810px;margin-left:30px;float:left;display:inline;min-height:1px}.col-11{width:894px;margin-left:30px;float:left;display:inline;min-height:1px}.col-12{width:978px;clear:left;margin:0px auto;}
/* --------------extra-------------- */
/* columns plus an extra gutter */
.col-extra-1{width:84px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-2{width:168px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-3{width:252px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-4{width:336px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-5{width:420px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-6{width:504px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-7{width:588px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-8{width:672px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-9{width:756px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-10{width:840px;margin-left:30px;float:left;display:inline;min-height:1px}.col-extra-11{width:924px;margin-left:30px;float:left;display:inline;min-height:1px}
/* --------------add-------------- */
/* will add columns to the left */
.col-add-1{left:84px;position:relative}.col-add-2{left:168px;position:relative}.col-add-3{left:252px;position:relative}.col-add-4{left:336px;position:relative}.col-add-5{left:420px;position:relative}.col-add-6{left:504px;position:relative}.col-add-7{left:588px;position:relative}.col-add-8{left:672px;position:relative}.col-add-9{left:756px;position:relative}.col-add-10{left:840px;position:relative}.col-add-11{left:924px;position:relative}
/* --------------subtract-------------- */
/* will subtract columns from the left */
.col-subtract-1{left:-84px;position:relative}.col-subtract-2{left:-108px;position:relative}.col-subtract-3{left:-192px;position:relative}.col-subtract-4{left:-276px;position:relative}.col-subtract-5{left:-360px;position:relative}.col-subtract-6{left:-444px;position:relative}.col-subtract-7{left:-528px;position:relative}.col-subtract-8{left:-612px;position:relative}.col-subtract-9{left:-696px;position:relative}.col-subtract-10{left:-780px;position:relative}.col-subtract-11{left:-864px;position:relative}

/* FS PUBLISHER - WYSIWYG STYLESHEET - UPDATED 11-12-2008 */
.fontColor000000 { color: #000; }.fontColorC0C0C0 { color: #C0C0C0; }.fontColor000080 { color: #000080; }.fontColor008000 { color: #008000; }.fontColor008080 { color: #008080; }.fontColor800000 { color: #800000; }.fontColor800080 { color: #800080; }.fontColor808000 { color: #808000; }.fontColor808080 { color: #808080; }.fontColorFFFFFF { color: #FFF; }.fontColor0000FF { color: #00F; }.fontColor00FF00 { color: #0F0; }.fontColor00FFFF { color: #0FF; }.fontColorFF0000 { color: #F00; }.fontColorFF00FF { color: #F0F; }.fontColorFFFF00 { color: #FF0; }
.backgroundColor000000 { background: #000; }.backgroundColorC0C0C0 { background: #C0C0C0; }.backgroundColor000080 { background: #000080; }.backgroundColor008000 { background: #008000; }.backgroundColor008080 { background: #008080; }.backgroundColor800000 { background: #800000; }.backgroundColor800080 { background: #800080; }.backgroundColor808000 { background: #808000; }.backgroundColor808080 { background: #808080; }.backgroundColorFFFFFF { background: #FFF; }.backgroundColor0000FF { background: #00F; }.backgroundColor00FF00 { background: #0F0; }.backgroundColor00FFFF { background: #0FF; }.backgroundColorFF0000 { background: #F00; }.backgroundColorFF00FF { background: #F0F; }.backgroundColorFFFF00 { background: #FF0; }

/* STYLES FOR THE STYLES DROP-DOWN IN TINYMCE */
/* TinyMCE Style: callOut=Call Out */
.callOut { background: #dedddd; }
p.callOut { padding: 1em; margin-bottom: 1.2em; font-weight:bold; }
/* TinyMCE Style: smallText=Small Text */
.smallText { font-size: .9em;}

/* ATTORNEY PROFILES */
#attorneyProfile ul { padding-left: 0; list-style: none; }
	#attorneyProfile img.attorneyProfilePhoto { float: right; margin: 0 0 10px 15px; }
		#attorneyProfile div.attorneyProfileNarrative ul { list-style:disc; padding: 0 0 0 2em; }
        	#attorneyProfile div.attorneyProfileNarrative ul li { padding: 3px 0 3px 0;}
		#attorneyProfile div.attorneyProfileSection ul { margin-left: 20px; }
			#attorneyProfile div.attorneyProfileSection ul li { padding: 3px 0 3px 0;}
				#attorneyProfile div.attorneyProfileSection ul li ul li { padding: 0 0 0 0; }
				#attorneyProfile div.attorneyProfileSection p { padding: 3px 0 3px 20px; }
#attorneyProfile .attorneyProfileName { padding-bottom: 0; display: none; }
#attorneyProfile .attorneyProfilePositions { padding-bottom: 1.2em; }
#attorneyProfile .attorneyProfileLocationLabel, #attorneyProfile .attorneyProfilePhoneLabel, #attorneyProfile .attorneyProfileFaxLabel, #attorneyProfile .attorneyProfileEmailLabel, #attorneyProfile .attorneyProfileVCardLabel { width: 6em; float: left; font-weight: bold; }
#attorneyProfile .attorneyProfileLocation, #attorneyProfile .attorneyProfilePhone, #attorneyProfile .attorneyProfileFax, #attorneyProfile .attorneyProfileEmail, #attorneyProfile .attorneyProfileVCard { margin-left: 6em; padding-bottom: .6em; }
#ie6 #attorneyProfile .attorneyProfileLocation, #ie6 #attorneyProfile .attorneyProfilePhone, #ie6 #attorneyProfile .attorneyProfileFax, #ie6 #attorneyProfile .attorneyProfileEmail, #ie6 #attorneyProfile .attorneyProfileVCard { display: inline-block; }
#attorneyProfile .attorneyProfileEducation ul li strong { display: block; }
#attorneyProfile .attorneyProfileContactInformation { padding-bottom: 1.2em; }

/* E-MAIL OBFUSCATION */
#containerEmailObfuscation, #containerEmailObfuscation * { margin: 0; padding: 0; }
	#containerEmailObfuscation {  }
	#containerEmailObfuscation p.emailObfuscationNote { padding: 0; }
	#emailObfuscation {  }
		#emailObfuscation fieldset { border: none; border-top: 1px solid #000; padding: 1em 0 0 1.2em; margin: 1em 0 0; }
			#emailObfuscation fieldset legend { font-weight: bold; }
			#ie #emailObfuscation fieldset legend { margin: 0 0 0 -.6em; }
			#emailObfuscation fieldset label { cursor: pointer; }
			#emailObfuscation fieldset label.formDescribeIssue { float: left; margin: .2em 0; }
			#emailObfuscation fieldset .formHide { display: none; }
			#emailObfuscation fieldset #formError { display: block; cursor: default; color: #f00; clear: both; }
				#emailObfuscation fieldset #formError strong { font-weight: normal; }
			#emailObfuscation fieldset input { display: block; width: 20.5em; margin: .2em 0 .5em 0; padding: 2px; }
			#emailObfuscation fieldset input.intakeFormHiddenInput { padding: 0; }
			#emailObfuscation fieldset textarea { clear: left; display: block; width: 25em; height: 10em; padding: 2px; margin: .2em 0 0 0; }
			#emailObfuscation fieldset div.formHighlight * { border: 1px solid #aaa; }
			#emailObfuscation fieldset div.formHighlight *:hover, #emailObfuscation fieldset div.formHighlight *:focus { background: #ffc; }
			#emailObfuscation fieldset p { margin: .5em 0; }
			#emailObfuscation fieldset div.formCheck { margin: .2em 0; }
				#emailObfuscation fieldset .formCheck input { background: none; }
				#emailObfuscation fieldset label input { display: inline; width: 2em; }
				#emailObfuscation fieldset .formHasJavaScript { display: none; }
				#emailObfuscation fieldset p img { float: left; margin: 0 1em 0 0; }
		input#emailObfuscationSubmit { width: 12.5em; height: 2.5em; margin: .5em 0; }

/* INTAKE FORM ERRORS */
.intakeFormError { color: #ff0000; font-weight: bold; }

/* INTAKE FORM I */
#containerIntakeFormI, #containerIntakeFormI * { margin: 0; padding: 0; }
#containerIntakeFormI {  }
	#containerIntakeFormI p.intakeFormINote { padding: 0; }
	#intakeFormI {  }
		#intakeFormI fieldset { border: none; border-top: 1px solid #000; padding: 1em 0 0 1.2em; margin: 1em 0 0; }
			#intakeFormI fieldset legend { font-weight: bold; }
			#ie #intakeFormI fieldset legend { margin: 0 0 0 -.6em; }
			#intakeFormI fieldset label { cursor: pointer; }
			#intakeFormI fieldset .formHide { display: none; }
			#intakeFormI fieldset #formError { display: block; cursor: default; color: #f00; clear: both; }
				#intakeFormI fieldset #formError strong { font-weight: normal; }
			#intakeFormI fieldset label.formDescribeIssue { float: left; margin: .2em 0; }
			#intakeFormI fieldset div.formCheck label { margin: 0 3em 0 0;}
			#intakeFormI fieldset input, #intakeFormI fieldset select { display: block; width: 20.5em; margin: .2em 0 .5em 0; padding: 2px; }
			#intakeFormI fieldset input.intakeFormHiddenInput { padding: 0; }
			#intakeFormI fieldset div.formHighlight * { border: 1px solid #aaa; }
			#intakeFormI fieldset div.formHighlight *:hover, #intakeFormI fieldset div.formHighlight *:focus { background: #ffc; }
			#intakeFormI fieldset select { width: 21em; }
				#intakeFormI fieldset label input { display: inline; width: 2em; margin: 0; }
			#intakeFormI fieldset textarea { clear: left; display: block; width: 25em; height: 10em; padding: 2px; margin: .2em 0 0 0; }
			#intakeFormI fieldset p { margin: .5em 0; }
			#intakeFormI fieldset div.formCheck { margin: .5em 0; }
				#intakeFormI fieldset .formCheck input { background: none; }
			#intakeFormI img.formDisclaimer { float: left; margin: 0 1em 0 0; }
		#intakeFormISubmit { width: 12.5em; height: 2.5em; margin: .5em 0; }

/* ON-SITE SEARCH RESULTS */
#searchResults dd { margin: 0 0 1.2em 0; }
#searchResults .searchResultsHighlight { font-weight: bold; }
#searchResults ul.searchResultsPagination, #searchResults ul.searchResultsPagination li { margin: 0; padding: 0; float: left; list-style: none; }
	#searchResults ul.searchResultsPagination li { display: block; margin-right: .25em; }

/* DESIGN DYNAMIC PRODUCTS ENEWSLETTER */
.eNewsletterDesignModule { padding: 5px; }

/* DESIGN DYNAMIC PRODUCTS FAQ */
.faqDesignModule { padding: 5px; }
	.faqDesignModule ul.faqDesignModuleList { margin: 0; padding: 0; list-style: none; overflow: visible; }
		.faqDesignModule ul.faqDesignModuleList li { display: block; padding: 0 0 1.2em 0; }

/* DESIGN DYNAMIC PRODUCTS NEWS */
.newsDesignModule { padding: 5px; }
	.newsDesignModule ul.newsDesignModuleList { margin: 0; padding: 0; list-style: none; overflow: visible; }
		.newsDesignModule ul.newsDesignModuleList li { display: block; padding: 0 0 1.2em 0; }

/* DESIGN INTAKE FORM SHORT */
#containerIntakeFormShort, #containerIntakeFormShort *, #containerIntakeFormShortAutofill, #containerIntakeFormShortAutofill * { margin: 0; padding: 0; }
		#intakeFormShort fieldset, #intakeFormShortAutofill fieldset { border: none; }
			#intakeFormShort fieldset legend span, #intakeFormShort fieldset label span, #intakeFormShortAutofill fieldset legend span, #intakeFormShortAutofill fieldset label span, #intakeFormShortAutofill fieldset label.formLabelHide { position: absolute; left: -9000em; }
			#intakeFormShort fieldset label, #intakeFormShortAutofill fieldset label { cursor: pointer; }
			#intakeFormShort fieldset .formHide, #intakeFormShortAutofill fieldset label.formHide { display: none; }
				#intakeFormShort fieldset #formError strong, #intakeFormShortAutofill fieldset #formError strong { font-weight: normal; }
			#intakeFormShort fieldset input.intakeFormHiddenInput, #intakeFormShortAutofill fieldset input.intakeFormHiddenInput { padding: 0; }
			#intakeFormShort fieldset textarea, #intakeFormShortAutofill fieldset textarea { height: 80px; }
			#intakeFormShort fieldset .formCheck, #intakeFormShortAutofill fieldset .formCheck { display: block; line-height: 1.5em; }
			#intakeFormShort fieldset label input, #intakeFormShortAutofill fieldset label input { display: inline; width: 20px; margin: 0; padding: 0; }
				#intakeFormShort fieldset input.checkbox, #intakeFormShortAutofill fieldset input.checkbox { background: none; }
			/* pop-up disclaimer */
			#intakeFormShortDisclaimer { display: none; width: 260px; font-size: 12px; }
				#intakeFormShortDisclaimer div { border: none; background: #f4f4f4; color: #666666; padding: 5px; }
					#intakeFormShortDisclaimer p { clear: both; overflow: auto; padding: 10px 15px .8em; font-family: Arial, Helvetica, sans-serif; }
					#intakeFormShortDisclaimer a { display: block; margin: 0 15px 0 0; color: #666666; font-weight: bold; text-decoration: none; }
/* DESIGN INTAKE FORM SHORT - Common Edits */
/* text color, size */
#containerIntakeFormShort, #containerIntakeFormShortAutofill { font-size: 1.09em; color:#ffffff; font-family: Arial, Helvetica, sans-serif; }
	#containerIntakeFormShort p, #containerIntakeFormShortAutofill p { padding: 0 0 .5em 0; }
			/* form error color */
			#intakeFormShort fieldset #formError, #intakeFormShortAutofill fieldset #formError { display: block; cursor: default; color: #f00; }
			#intakeFormShortAutofill fieldset #formError { padding: 0 0 2px 0; }
			/* input width, margin, padding, color */
			#intakeFormShort fieldset input, #intakeFormShort fieldset textarea, #intakeFormShortAutofill fieldset input, #intakeFormShortAutofill fieldset textarea { display: block; width: 248px; font-family: Arial, Helvetica, sans-serif; margin: 0 0 9px 0; padding: 7px 11px 8px; background:#f4f4f4; color:#666666; font-size: }
			/* input border color */
			#intakeFormShort fieldset div.formHighlight *, #intakeFormShortAutofill fieldset div.formHighlight * { border: none; }
			/* input bg color on hover */
			#intakeFormShort fieldset div.formHighlight *:hover, #intakeFormShort fieldset div.formHighlight *:focus, #intakeFormShortAutofill fieldset div.formHighlight *:hover, #intakeFormShortAutofill fieldset div.formHighlight *:focus { background: #ebdebc; }
				/* disclaimer link color */
				#intakeFormShort fieldset .formCheck a:link, #intakeFormShort fieldset .formCheck a:visited, #intakeFormShortAutofill fieldset .formCheck a:link, #intakeFormShortAutofill fieldset .formCheck a:visited { color:#ffffff; text-decoration:underline;  }
				#intakeFormShort fieldset .formCheck a:hover, #intakeFormShort fieldset .formCheck a:focus, #intakeFormShortAutofill fieldset .formCheck a:hover, #intakeFormShortAutofill fieldset .formCheck a:focus {  color:#5291dc; text-decoration:underline; }
		#intakeFormShortSubmit, #intakeFormShortAutofillSubmit { width: auto; height: auto; margin: .5em 0; display:block; float:right; }
		p.intakeFormShortPrivacy a{color:#ffffff; text-decoration:underline;}


/* DESIGN ON-SITE SEARCH */
#containerSearchFormDesign, #searchFormDesign { margin: 0; padding: 0; }
#containerSearchFormDesign {  }
	#searchFormDesign {  }
		#searchFormDesign label {  }
		#searchFormDesign #searchFormDesignSearchTerms { margin: 0; padding: 0; width: 186px; border: none; background:none; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-style:italic; }
		#searchFormDesign #searchFormDesignSearchTerms:focus, #searchFormDesign #searchFormDesignSearchTerms:hover { border: none; }
		#searchFormDesign #searchFormDesignSubmit { width: auto; height: auto; display: inline; vertical-align: top; }
		#searchFormDesign label { cursor: pointer; }
		#searchFormDesign .formLabelHide { position: absolute; left: -5000px; }

/* sIFR STYLES */
.sIFR-flash { visibility: visible; margin: 0; padding: 0; }
.sIFR-replaced, .sIFR-ignore { visibility: visible !important; }
.sIFR-alternate { position: absolute; left: 0; top: 0; width: 0; height: 0; display: block; overflow: hidden; color: #333333; }
.sIFR-active h1 { padding-bottom: 0; visibility: hidden; line-height: 1em; }

/* STANDARD ELEMENTS */
.printElement { display: none; }
.screenElement {  }
.handheldElement { display: none; }
#skipToLinks { position: absolute; left: 0; top: -9000px; z-index: 100; list-style: none; text-align: left; margin: 0; padding: 0; }
	#skipToLinks li { position: relative; z-index: 100; overflow: hidden; }
.offscreen { text-indent: -9999em; padding: 0; background-repeat: no-repeat; background-position: 0 0; display: block; overflow: hidden; list-style: none; }
.offscreen br { display: none; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }

/* CUSTOM DESIGN ELEMENTS */
body.design { background: url(../images/bg-body.jpg) #ffffff center top repeat-x; }
#containerPage { width: 978px; margin: 0 auto; }
	#banner { position: relative; height: 500px; }
		.home #banner{ background:url(../images/bg-bannerHome.jpg) 390px top no-repeat; }
		#logo { position: absolute; top: 144px; left: 18px; width: 350px; height: 80px; background-image: url(../images/logo.gif); }
		#cta { position: absolute; top: 436px; left: 27px; color: #fff; text-align: center; background:#000000; border:2px solid #c1ac76; width:332px; padding:13px 0 20px 0; }
			.ctaPhone a { font-size:26px; font-family: 'Crimson Text', serif; font-weight:600; color:#ffffff; text-decoration: none; }
			.ctaPhone a span { color:#c3ae76; }
		#contextual { position: absolute; top: 0px; right: 54px;}
		#navigationMain { position: absolute; top: 360px; left: 0px; }
			#navigationMain ul { list-style: none; padding: 0; margin: 0; }
			#navigationMain ul li {  }
			#navigationMain a {  color: #ffffff; font-size:15px; text-decoration: none; padding: 7px 0 12px; margin:0 22px 0 0; border-top:4px solid #c0ab73; font-family: 'Average', serif; font-weight:400; text-transform:uppercase; }
			#navigationMain a:hover, #navigationMain a:focus, #navigationMain a.current { color: #000000; border-top:4px solid #d7c79f; text-decoration: none; }
			#navigationMain li.itemFirst a { padding-left: 0; }
			#navigationMain li.itemLast a { border-right: 0; padding-right: 0; }
		#containerSearchFormDesign { position: absolute; top: 368px; right: 0px; width: 210px; height: 27px; background: url(../images/bg-containerSearchFormDesign.jpg) no-repeat; padding:6px;}
		#tagline{ position: absolute; top: 422px; right: 105px; text-align:center; width:380px; color:#ffffff; font-size:22px; font-family: 'Crimson Text', serif; font-weight:400; font-style:italic; line-height:1.2em;}
			#tagline span{  }
			#ie8 #tagline{ width:438px; }
	#containerColumns { float: left; width: 978px; }
		#columnMain { float: right; width: 558px; padding:0 0 35px 0; }
			#containerPageTitle { padding: 0; }
			.sIFR-active #containerPageTitle { padding-bottom: 0; }
				#pageTitle { font-size: 32px; padding: 0 0 15px 0; color:#002d62; font-family: 'Crimson Text', serif; font-weight:600;  }
				.sIFR-active #pageTitle { font-size: 1.5em; }
			#content { padding: 0; font-size:13px; }
			.Articles #pageTitle{text-transform:none;}
		#columnSide { float: left; width: 337px; padding:55px 0 35px 27px; }
			#attorneyHome{ margin:0 0 19px 0; border:2px solid #c3ae76; }
			#navigationPractice { margin:0 0 6px 0; }
				#navigationPractice ul { list-style: none; padding: 0; margin: 0; }
				#navigationPractice ul li {  }
				#navigationPractice a { color: #c3ae76; text-decoration: none; background: #002d62; padding: 5px 0 6px 15px; border:2px solid #c3ae76; font-size:24px; font-family: 'Crimson Text', serif; font-weight:400; }
				#navigationPractice a span{background: url(../images/bg-prac-link.gif) 0 4px no-repeat; display:inline-block; width:22px; height:34px; padding:0 17px 0 0; float:right;}
				#navigationPractice a:hover, #navigationPractice a:focus, #navigationPractice a.current { color: #002d62; text-decoration: none; background: url(../images/bg-prac-repe.jpg) repeat-x; }
				#navigationPractice a:hover span, #navigationPractice span a:focus, #navigationPractice a.current span{background: url(../images/bg-prac-link-o.gif) 0 4px no-repeat;}
				#navigationPractice ul ul a span{display:none;}
			a#otherSite{ display: block; color: #002d62; text-decoration: none; background: url(../images/bg-prac-repe.jpg) repeat-x; margin:0 0 21px 0; padding: 8px 0 4px 15px; border:2px solid #c3ae76; font-size:24px; font-family: 'Crimson Text', serif; font-weight:400; font-style:italic; line-height:1.35em}
				#ie8 a#otherSite{font-size:23px;}
			a#otherSite span{background: url(../images/bg-prac-link-o.gif) 0 0 no-repeat; display:inline-block; width:22px; height:34px; padding:0 0 0 15px; float:right;}
				a:hover#otherSite,a:focus#otherSite,a.current#otherSite { color: #c3ae76; background: #002d62;}
				a:hover#otherSite span,a:focus#otherSite span,a.current#otherSite span{background: url(../images/bg-prac-link.gif) 0 0 no-repeat;}
			#shortForm{ background:#000000; border:2px solid #c1ac76; padding:10px 24px; overflow:hidden;}
				.moduleTitle{ color:#c3ae76; font-size:30px; font-family: 'Crimson Text', serif; font-weight:400; line-height:1em;  }
				#ie8 .moduleTitle{font-size:23px;}
				#shortFormTitle{text-align:center;}
				#containerIntakeFormShort, #containerIntakeFormShortAutofill { padding:0 12px; }
#contactInformationWrap{ clear:both;  min-width:978px; background:url(../images/bg-contactInformationWrap.jpg) #745e24 repeat-x; border-bottom:3px solid #8c7433; border-top:3px solid #8c7433; }
	#contactInformation {width:936px; margin:0 auto; background: url(../images/bg-contactInformation.jpg) top right no-repeat; padding: 22px 21px 14px; overflow:hidden; }
		#contLeft{display:block; float:left; padding:0 56px 0 0; width:343px;}
			#contLeft span{ color:#000000; font-family: 'Crimson Text', serif; font-weight:400; font-style:italic; text-align:center; display:block; font-size:15px; padding:10px 0 0 0; }
		#contactTitle{ color:#493910; padding:0 0 20px 0; }
		.contLeft{float:left; width:230px; padding:0 22px 0 0;}
		.contRight{float:left; width:252px;padding:50px 0 0 0;}
		#contactInformation p{ color:#000000; font-size:14px; line-height:1.64em; }
		#contactInformation a { color: #000; text-decoration: underline; }
		#contactInformation a:hover, #contactInformation a:focus, #contactInformation a.current { color: #fff; text-decoration: underline; }
#footerWrap{ background:url(../images/bg-footerWrap.jpg) #333333 repeat-x; }
	#footer { clear: both; width: 908px; margin:0 auto; padding:26px 35px; }
		#geographicalFooter { padding:0 0 10px; }
			#geographicalFooter p { color:#b3b2b2; font-size:13px; line-height:1.69em; }
		#finePrint {color:#b3b2b2; font-size:13px; line-height:1.69em; }
			#finePrint a { color: #b3b2b2; text-decoration: underline; }
			#finePrint a:hover, #finePrint a:focus, #finePrint a.current { color: #fff; text-decoration: underline; }
			#copyright { display: inline; padding: 0; margin: 0 10px 0 0; }
			#branding { display: inline; padding: 0; }
/* CASCADING MENU - v4.2.1 - 10.27.2011 */
	/*Horizontal Magic */
	.cascadingMenu { position: relative; }.cascadingMenu img { display: block; }.cascadingMenu ul { margin: 0; padding: 0; list-style: none; }.cascadingMenu ul li { float: left; position: relative; }.cascadingMenu ul li a { display: block; }.cascadingMenu ul li.megaMenu { position: static; }.cascadingMenu .containerMenu, .cascadingMenu ul ul { display:block; position: absolute; left: -9999em; z-index: 99; }.cascadingMenu .containerMenu ul { position: static; left: 0; z-index: auto; width: auto; }.cascadingMenu ul li li { float: none; }.cascadingMenu li:hover .containerMenu, .cascadingMenu li.menuover .containerMenu, .cascadingMenu li:hover ul, .cascadingMenu li.menuover ul { left: 0; top: auto; background-position: 0 0; }.cascadingMenu ul li.menuover ul ul, .cascadingMenu ul li:hover ul ul, .cascadingMenu ul li.menuover ul ul { left: -9999em; }.cascadingMenu ul li:hover ul ul ul, .cascadingMenu ul li.menuover ul ul ul { position: static; left: 0; top: 0; }
	/* IE fixes */ #ie .cascadingMenu li { display: inline; } #ie .cascadingMenu li a { height: auto; } #ie .cascadingMenu li li a { zoom: 1; } #ie li.menuover, #ie li:hover { z-index: 5; } #ie .cascadingMenu li:hover { display: block; } #ie .cascadingMenu .containerMenu li:hover { display: inline; }
	/* cascade to left */ .cascadingMenu ul li.left:hover ul, .cascadingMenu li.left:hover .containerMenu, .cascadingMenu ul li.menuover-left ul, .cascadingMenu li.menuover-left .containerMenu { left: auto; right: 0; }.cascadingMenu ul li.left:hover ul ul, .cascadingMenu ul li.menuover-left ul ul { left: -9999px; }.cascadingMenu ul li.left ul li:hover ul ul, .cascadingMenu ul li.menuover-left ul li.menuover ul ul, .cascadingMenu ul li.left.menuover ul ul ul { left: 0; right: auto; width: auto; }
	/* long menu class */.cascadingMenu li.long ul { position: absolute; }.cascadingMenu li.long ul ul { position: static; }.cascadingMenu li.long a { position: relative; z-index: 2; }.cascadingMenu li.long li a { position: static; z-index: auto; }
	/* editable section */
	/* adjust to have menu cascade left */.cascadingMenu ul li.left:hover ul li:hover ul, .cascadingMenu ul li.menuover-left li.menuover ul { left: -25em; }
	.cascadingMenu li:hover li:hover ul, .cascadingMenu li.menuover li.menuover ul { left: 25em; top: 0; }
	.cascadingMenu ul ul, .cascadingMenu .containerMenu, .cascadingMenu li.long .containerMenu ul { width: 25em; background: none; } /* Set Width of menus */
	.cascadingMenu li.megaMenu .containerMenu { width: 960px; }
	.cascadingMenu li.megaMenu .containerMenu .col { float: left; width: 24.5%; }
	#navigationMain.cascadingMenu li li a, #navigationMain.cascadingMenu li li a:visited {color: #ffffff; padding: 3px 15px 4px; border:none; background:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-transform:none; }
	#navigationMain.cascadingMenu li li a:hover, #navigationMain.cascadingMenu li li a:focus, #navigationMain.cascadingMenu li li a.current {background: #000000; color: #fff; }	
	.cascadingMenu ul li div.containerMenu{  width:452px; padding:23px; background:url(../images/bg-cascadingMenu.jpg) repeat-x; }
	.cascadingMenu ul ul.column{ width:226px; float:left }
	/* uncomment to get sublists .cascadingMenu ul ul ul { position: static; }*/
/* END CASCADING MENU */

/* Vertical Specific Magic */
	#navigationPractice.cascadingMenu li { float: none; }#ie #navigationPractice.cascadingMenu li { float: left; clear: left;}#ie #navigationPractice.cascadingMenu li li { float: none;}#ie #navigationPractice.cascadingMenu { display:inline-block; }#navigationPractice.cascadingMenu ul li:hover ul ul, #navigationPractice.cascadingMenu ul li.menuover ul ul { left: -9999px; top: 0; }#navigationPractice.cascadingMenu ul ul a { width: auto; }#navigationPractice.cascadingMenu li.long .containerMenu ul { left: 0; }
	#navigationPractice.cascadingMenu ul a { width: 318px; }
	#navigationPractice.cascadingMenu li:hover ul, #navigationPractice.cascadingMenu li.menuover ul,
	#navigationPractice.cascadingMenu li:hover .containerMenu, #navigationPractice.cascadingMenu li.menuover .containerMenu { left: 337px; top:0; } /* Set Left Position */
	#navigationPractice.cascadingMenu ul li:hover ul li:hover ul, #navigationPractice.cascadingMenu ul li.menuover ul li.menuover ul { left: 25em; } /* Reset width back to width of Menu */
	#navigationPractice.cascadingMenu li li a, #navigationPractice.cascadingMenu li li a:visited { color: #ffffff; padding: 3px 15px 4px; border:none; background:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; }
	#navigationPractice.cascadingMenu li li a:hover, #navigationPractice.cascadingMenu li li a:focus, #navigationPractice.cascadingMenu li li a.current { background: #000000; color: #fff; }	