<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}
<div class="container">
    <div class="cta-float">
        {% include cta.html %}
    </div>

    <h1>Tampa Embezzlement Lawyers</h1>
    <p>Being charged with embezzlement can be frightening, especially if you are charged with stealing from your employer. We understand that embezzlement charges may be based on a misinterpretation of the facts. It is unlikely that you will be able to convince law enforcement of this without help from a lawyer, however.</p>
    <p>At Gomez & Touger, P.A., we have the experience to help you fight embezzlement and theft charges. As former Florida assistant state attorneys, we have prosecuted these types of cases for the state. Because we know what it takes to convict an individual of embezzlement, we also know how to defend against the charges. To schedule a free consultation with our Tampa embezzlement attorneys, please call 813-876-6622.</p>

    <h2>Was There Intent to Defraud</h2>

    <p>To convict a person of embezzlement, the prosecution must prove that the theft/fraud was intentional. In some cases, the person charged with embezzlement made a mistake or planned on returning the money in the future. Others may have believed they had a right to possess the property or were given consent by the owner to possess it. We understand that you may not have considered your actions to be criminal. Depending on the specifics of the case, there are defenses to embezzlement charges.</p>
    <p>Embezzlement involves the theft of money or property by a person with a fiduciary relationship to the victim. Types of embezzlement may include:</p>

    <ul>
        <li>Theft from an employer</li>
        <li>Theft from an institution or organization</li>
        <li>Theft from a client</li>
        <li>Theft from a spouse or family member</li>
    </ul>

    <p class="visible-xs">XS</p>
    <p class="visible-sm">SM</p>
    <p class="visible-md">MD</p>
    <p class="visible-lg">LG</p>

    <!--<h1>{% t layout_title %}</h1>-->
    <!--<main>-->
    <!--<article>-->
    <!--{{ content }}-->
    <!--</article>-->
    <!--</main>-->
</div>
{% include footer.html %}
</body>
</html>