<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <div class="cta-container">
                {% include cta.html %}
                <img class="lawyer-home img-responsive" src="/assets/images/attorney_home.jpg">
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">

            <h1 class="text-center">English</h1>

            <div class="big-button-row">
                <a class="btn big-button" href="/criminal/">Criminal Law</a>
                <a class="btn big-button" href="{% tl personal_injury.home en %}">Personal Injury</a>
            </div>

            <h1 class="text-center">Español</h1>

            <div class="big-button-row">
                <a class="btn big-button">Crímenes</a>
                <a class="btn big-button" href="{% tl personal_injury.home es %}">Lesiones</a>
            </div>

        </div>
    </div>
</div>
{% include footer.html %}
</body>
<script src="/assets/js/main.js"></script>
</html>