<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <div class="cta-container">
                {% include cta.html %}
                <img class="lawyer-home img-responsive" src="/assets/images/attorney_home.jpg">
                {% if site.lang == 'en' %}
                    {% include announcement_en.html %}
                {% else %}
                    {% include announcement_es.html %}
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">

            {{ content }}

            <div class="big-button-row">
                <a class="btn big-button" href="{% tl criminal.home %}">{% t home.criminal_law %}</a>
                <a class="btn big-button" href="{% tl personal_injury.home %}">{% t home.personal_injury %}</a>
            </div>

            <br><br>

            <!--<div class="big-button-row">-->
                {% if site.lang == 'en' %}
                    <p class="text-center">
                        <b>Los abogados hablan español</b>
                    </p>
                    <div class="big-button-row">
                        <a class="btn big-button" href="{% tl home es %}">Ver en Español</a>
                    </div>
                {% else %}
                    <div class="big-button-row">
                        <a class="btn big-button" href="{% tl home en %}">View in English</a>
                    </div>
                {% endif %}
            <!--</div>-->

        </div>
    </div>
</div>
{% include footer.html %}
</body>
<script src="/assets/js/main.js"></script>
</html>