<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include personal_injury_header.html %}

<script>
    // Randomize banner image for non home page
    var banner_images = new Array("i-random1.jpg", "i-random2.jpg", "i-random3.jpg");
    var randomIndex = Math.floor(Math.random() * banner_images.length);
    document.getElementById("banner-image").src="/assets/images/" + banner_images[randomIndex];
</script>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
            <div class="cta-container">
                {% include cta.html %}
                <img class="lawyer-home img-responsive" src="/assets/images/attorney_home.jpg">
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 main-content">
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>